<div class =container>
    <div class="flex-item">
        <div class="borderinfo ">
            <div class = tittle_>
                <h4> Home</h4>
                <h2 class="h2_info">Mutat luptatum mnesarchum te nam, vix in postea graeco, duis accumsan ea pro. Te debet invidunt atomorum eum, no nec probo molestie verterem.
                </h2>
            </div>

        </div>
        <div class="borderimage">
            <img src="./images/favicon/main_img01.jpg" width="900px" alt="sample">
        </div>
    </div>

</div>