.borderinfo{

  margin-bottom: 30px;
  margin-right: 0px;
  background-color: blue;
}

.tittle_{
  -webkit-box-orient: vertical;
  padding-bottom: 50px;
  padding-right: 450px;
  padding-left: 50px;
}


.tags1 {
    background-color: red;
    color: white;
    padding: 20px 20px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 140%;
    width: fit-content;

  }

.tags2 {
    background-color: black;
    color: white;
    padding: 20px 20px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 140%;
    width: fit-content;
  }

  .flex-item {
    display: flex;

  }

  .h1header {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
  }

  .container {
    position: relative;
    max-width: 100%;

  }


  .breadcrumb_link {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 6px;
    color: red;
  }

  .breadcrumb_label {
    color: red;
  }

  .h2_info {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: white;
  }

.borderimage{
  height: 200%;
  max-width: 100%;
  margin-top: 0px;}












