---
layout: default.hbs
---
<div class="container margin-20">
    <h1 class="title"> Template Assemble</h1>
    <ol>
        <li>
            <a class="text-red hover-underline" href="/case_studies"> Case Studies</a>
        </li>
        <li>
            <a class="text-red hover-underline" href="/contact_us"> Contact Us</a>
        </li>
        <li>
            <a class="text-red hover-underline" href="/home_page"> Home Page</a>
        </li>
        <li>
            <a class="text-red hover-underline" href="/news_landing"> News Landing</a>
        </li>
    </ol>
</div>

